/* Try different box model properties below */

.pages__page {
  border: 2px solid #4491db;
  border-radius: 1px;
  background: #fff;
}
.countries {
  width: 20%;
  padding: 4px;
  background-color:lightgrey;
}

ul li.country {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 5px;
  padding: 4px;
  list-style-type: none;
}
